* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

.name {
    background-color: rgb(248, 235, 158);
    color: rgb(12, 12, 48);
    padding: 20px;
    d
}

form {
    display: block;
    margin: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;

}

/* .form-box {
    width: 70px;
    position: absolute;
    transform: translate(-50% 50%);
    padding: 50px 60px 70px;
    display: flex;
}

.form-box h2 {
    font-size: ;
    margin-bottom: 10px;
    position: relative;
} */

.contact {
    display: flex;
}

form input,
form textarea,
form button,
h2 {
    display: block;
    width: 70%;
    border-radius: 3px;
    gap: 30px;
    margin: 20%;
    margin-bottom: 10px;
    border: none;
    padding-top: 10px;
    margin-top: 10px;
}


form button {
    padding: 10px;
    background-color: rgb(12, 12, 48);
    color: white;
    text-decoration: none;
    cursor: pointer;
    gap: 30%;
    border-radius: 5px;
}

.me {
    color: gold;
}

footer {
    background-color: rgb(4, 4, 36);
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color: rgb(212, 198, 115);
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
    }
}